:root {
 /*   --text-color: #054813;  
    --bkg-color: #bcf3c5; */
}

/*##### COLORS #####*/

body {  

    font-family: Stempel;
/*  
    background: var(--bkg-color);
    font-size: 1em;
    font-weight: 200;
    line-height: 1.4em;
    margin-top: 1em;
    padding: 6em; */
}

h1,h2, h3 {
    color: var(--text-color);
}

p, .tetiere 
{  
    color: var(--text-color);
}

/* liens */
  
a {
    color: rgb(7, 89, 28);
    font-family: 'Love Ya Like A Sister';
    font-size: 100%;
    font-weight: 600; 
    line-height: 2em;
    text-align: center; 
  } 
  
    a:link {
      
    }
    
    a:visited {
    
    }
    
    a:focus {
    
    }
    
    a:hover {
      color: rgb(255, 102, 0);
    }
    
    a:active {
      
    }
  
      /* ////// Liens ////// */ 


    .menu {
      display: flex;
      justify-content: space-around;
    }



/* CSS */
.btn-toggle {

  background-color: #fbeee0;
  border: 2px solid rgb(7, 89, 28);
  border-radius: 30px;
  box-shadow: rgb(7, 89, 28) 4px 4px 0 0;
  cursor: pointer;
  display: inline-block;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: rgb(7, 89, 28);
  font-family: 'Love Ya Like A Sister';
  font-size: 100%;
  font-weight: 600; 
  line-height: 2em;
  text-align: center; 
}

.btn-toggle:hover {
  background-color: #fff;
}

.btn-toggle:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

