/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Figtree&family=Irish+Grover&family=Love+Ya+Like+A+Sister&family=Pangolin&family=Rubik+Bubbles&display=swap');

@font-face {
    font-family:Maax-boldMono ;
    src: url('typo/Maax-boldMono.otf') format('opentype');
}
@font-face {
    font-family:Maax-boldMonoItalic ;
    src: url('typo/Maax-BoldMonoItalic.otf') format('opentype');
} 
@font-face {
    font-family:Maax ;
    src: url('typo/Maax-RegularMono.otf') format('opentype');
} 
 
@font-face {
    font-family:Stempel ;
    src: url('typo/LTe50492.ttf') format('opentype');
}

@font-face {
    font-family:Stempelita ;
    src: url('typo/LTe50491.ttf') format('opentype');
}
@font-face {
    font-family:Unbounded ;
    src: url('typo/Unbounded-VariableFont_wght.ttf') format('opentype');
}
