* {      
    box-sizing: border-box;
}


main {
    display: flex;
}
header {
    background-color: rgb(255, 150, 199);
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

article {
    height: 100vh;
    flex-basis: 100vw;
    flex-shrink: 0;
    padding: 2em; 

}
article > * {
    padding: 6vw;
    max-height: 75vh;
}

.article-header {
    overflow-y: scroll;
}
.article-content {
    overflow-y: scroll;
    max-height: 100vh;
}


.accueil {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.accueil header {
 flex-basis: 20vh;   
}

.accueil header ul {
    display: flex;
}

.accueil  .article-content  {
    flex-basis: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 6em;
}

.sub-header > h1 {
   text-align: right;
}


/*#### Gabarit en deux colonnes égales ####*/

.twotwo {
display: flex;
}

.twotwo > * {
    flex-basis: 50vw;
}

.navigation-page {
}
    



/*#### Gabarit en deux colonnes 1tiers 2tiers ####*/

.onethree {
display: flex;
}

.onethree .article-header {
    flex-basis: 30vw;
    
}

.onethree .article-content {
    flex-basis: 70vw;
}


/*#### Gabarit en deux colonnes 2tiers 1tiers ####*/

.threeone {
    display: flex;
}

.threeone .article-header {
    flex-basis: 70vw;
}

.threeone .article-content {
    flex-basis: 30vw;
}

nav {
    overflow-y: scroll;
}