* {  box-sizing: border-box;}

main {
    display: flex;
}

header {
   flex-basis : 100vw;
    flex-shrink: 0;
  height : 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

header > h1 {
    text-align: center;
}

.sub-header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.sub-header > h1 {
   text-align: right;
}

article {
    min-height: 100vh;
    flex-basis: 100vw;
    flex-shrink: 0;
    padding: 2em;
}
.section-content{
    background: #efefef;
}

.home {
display: flex;
align-items: center;
justify-content: center;
}

.home .section-header{
 background-color: rgb(209, 126, 0);
}

.onethree {
display: flex;
}

.onethree .section-header {
    flex-basis: 30vw;
    
}

.onethree .section-content {
    flex-basis: 70vw;
}

.twotwo {
display: flex;
}

.twotwo .section-header {
    flex-basis: 50vw;
}



.threeone {
    display: flex;
}

.threeone .section-header {
    flex-basis: 70vw;
}

.threeone .section-content {
    flex-basis: 30vw;
}

.navigation-page nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

----------------------------------------

.twotwo .section-content,
.twotwo > h1,
.twotwo > nav {
    flex-basis: 50vw; 
}

.onethree .section-content,
.onethree > div
.onethree > h2, p {
    flex-basis: 50vw;
}


.intro{
    justify-content: center;
}

#titresecond{
justify-content: center;
font-family: 'Stempel';
}


