@import "reset.css";
@import 'base.css';
@import 'layout.css';
@import "font.css";
@import "jour_nuit.css";
@import "titre.css";
@import "animation.css";
@import "paragraphe.css";
@import "chapitre.css";
@import "header.css";



@media (prefers-color-scheme: dark) {
    .grandtitre {
        font-size: 6em;
        animation: wacky infinite;
        animation-duration: 5s;
        animation-timing-function: ease;
    }


body {  background: var(--bkg-color);}h1,p, h2, h3, .tetiere {  color: var(--text-color);}