


@import url('https://fonts.googleapis.com/css2?family=Asul&family=BIZ+UDPMincho&family=Cardo&family=Nosifer&family=Outfit:wght@300;400;500&family=Rubik+Puddles&display=swap');

@font-face {
    font-family:MR ;
    src: url('typo/MaaxRounded.otf') format('opentype');
} 


header > h1 {
    margin-bottom: 3px;
    text-shadow: #000 2px 2px 0.2rem;
    color: rgb(8, 126, 22);
    justify-content: center;
}

header > time {
    font: italic 0.7rem sans-serif;
}
img{width:50%;}

.introduction {
    font-size: 2em;
    font-family: 'MR';
    font-weight: 400;
}

body{
    background-color: rgb(255, 255, 255)
    color: darkgreen;
}
h1{
font-family: Rubik Puddles;
font-size: 900%;
text-align: center;
line-height: 10em;
}

h2{
    font-family: 'MR';
    font-size: 300%; 
    font-weight: 500;
    text-align: center;
    line-height: 2em; 
     
}

body {
    text-decoration: green wavy underline;
    font-family: 'MR';
    font-size: 100%;
    margin: 9em;
     font-weight: 300;
     font-optical-sizing: auto;
     text-shadow: 1px 1px 2px red, 0 0 1em rgb(0, 255, 55), 0 0 0.2em rgb(10, 114, 50);
     text-indent: -3em;
     line-height: 10em;
    }

